<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Mobile No</label>
                <input type="email" class="form-control" id="email" formControlName="mobNo">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Role</label>
                <select class="form-select" formControlName="role">
                  <option value="CUSTOMER">Customer</option>
                  <option value="EMPLOYEE">Employee</option>
                  <option value="MANAGER">Manager</option>
                  <option value="ADMIN">Admin</option>
                </select>
              </div>
              <div class="mb-3">
                <a href="#">Forgot password?</a>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </form>
          </div>
          <div class="card-footer">
            <a href="/signup">Don't have an account? Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>